#search-dir {
    margin-left: 35%;
}

#search {
    outline: none;
    border: 1px solid #545454;
    padding: 5px 4px;
    border-radius: 3px;
}

#search:hover {
    border: 1px solid #757575;
}

#search:focus {
    border: 1px solid #3b73db;
}

#search-icon {
    background-color: none;
    cursor: pointer;
}

#menu-buttons {
    margin-top: 10px;
    margin-left: 35%;
}

#remove-all {
    margin-left: 25px;
    outline: none;
    border: none;
    padding: 5px 4px;
    border-radius: 3px;
    cursor: pointer;
    background: #c41818;
    border-radius: 3px;
    padding: 8px 5px;
}

#remove-all:hover {
    background: rgb(204, 43, 43);
}

#add {
    margin-left: 15px;
    outline: none;
    border: none;
    padding: 5px 4px;
    border-radius: 3px;
    cursor: pointer;
    background:#19a736;
    border-radius: 3px;
    padding: 8px 5px;
}

#add:hover {
    background: #26b643;
}

#main-br {
    width: 700px;
    height: 1px;
    background-color: #545454;
}

.br {
    width: 400px;
    height: 1px;
    background-color: #545454;
}

.psw-elem {
    margin-left: 50px;
}

.text-span {
    margin-left: 60px;
}

#show {
    margin-left: 90px;
    outline: none;
    border: none;
    padding: 5px 4px;
    border-radius: 3px;
    cursor: pointer;
    background:#1067b9;
    border-radius: 3px;
    padding: 8px 5px;
}

#show:hover {
    background:#1e78cc;
}

#change {
    outline: none;
    border: none;
    padding: 5px 4px;
    border-radius: 3px;
    cursor: pointer;
    background:#d49918;
    border-radius: 3px;
    padding: 8px 5px;
}

#change:hover {
    background: #e6a926;
}

#remove {
    outline: none;
    border: none;
    padding: 5px 4px;
    border-radius: 3px;
    cursor: pointer;
    background: #c41818;
    border-radius: 3px;
    padding: 8px 5px;
}

#remove:hover {
    background: #d61e1e;
}

