@font-face {
    font-family: JetBrainsMono-Regular;
    src:url("./fonts/JetBrainsMono-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #181818;
    font-family: "JetBrainsMono-Regular";
}
